<!-- start custom head snippets, customize with your own _includes/head-custom.html file -->
{% if site.google_analytics %}
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-N50S9WCXHE"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-RDFQSCYNP4');
  </script>
{% endif %}
<!-- You can set your favicon here -->
<!-- link rel="shortcut icon" type="image/x-icon" href="{{ '/favicon.ico' | relative_url }}" -->

<meta name="robots" content="noarchive,noodp,noydir" />
<!-- end custom head snippets -->
