---
---

@import "{{ site.theme }}";
@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100;0,0,200;0,400;0,600;0,700;0,800;1,200&display=swap');
body {
  background-color: mintcream;
  color: darkslategrey;
  font: 300 0.9em/1.4em 'Libre Franklin', "Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-variant: common-ligatures proportional-nums;
}
a, a:link, a:visited, a:active, a:hover {
  color: cadetblue;
  border-width: 0px 0px 1px 0px;
  border-bottom-style: dotted;
  font-weight: 600;
  text-decoration: none;
}
a:visited { color: darkslategrey; }
a:active, a:hover { color: black; }
h1, h2, h3 {
  font-family: 'Libre Franklin';
  color: cadetblue;
}
h1 {
  color: darkslategrey;
  /*letter-spacing: -0.025em;*/
}
h2 {
  color: #3d797b;
}
h3 {
  color: #555555;
}