---
---

@import "{{ site.theme }}";
body {
  background-color: mintcream;
  color: darkslategrey;
  font-variant: common-ligatures proportional-nums;
}
a, a:link, a:visited, a:active, a:hover {
  color: cadetblue;
  border-width: 0px 0px 1px 0px;
  border-bottom-style: dotted;
  font-weight: 600;
  text-decoration: none;
}
a:visited { color: darkslategrey; }
a:active, a:hover { color: black; }
h1, h2, h3 {
  color: cadetblue;
}
h1 {
  color: darkslategrey;
  /*letter-spacing: -0.025em;*/
}
h2 {
  color: #3d797b;
}
h3 {
  color: #555555;
}