@import url(http://fonts.googleapis.com/css?family=Bitter:400,700,400italic);
@import url(http://fonts.googleapis.com/css?family=Droid+Sans:400,700);
@import url(http://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700);

body.remark-container {
  background-color: #000;
}
div.remark-slide-content {
  background-color: #111;
}
body, h2, h3, h4, h5, h6 {
  font-family: 'PT Sans Narrow'; /*'Droid Sans';*/
  font-weight: 400;
}
h1 {
  color: rgb(208, 157, 148);
  font-family: 'Bitter';
  font-weight: 700;
  font-size: 48px;
}
p, a, a:link, a:hover, a:active, a:focus {
  color: rgb(77, 100, 112);
  font-size: 36px;
  border-bottom: 1px solid transparent;
  text-decoration: none;
}
a:hover, a:visited {
  text-decoration: none;
  border-bottom: 1px solid rgb(77, 100, 112);
  transition: border-color 0.3s linear;
  -webkit-transition: border-color 0.3s linear;
}

#slide-title_card {
  background: transparent url('eric-meyer_msnbc_spinning_the_web.png') top center no-repeat;
  background-size: auto auto;
  background-size: cover !important;
}

.footnote, .footnote a {
  color: rgb(77, 100, 112);
  text-align: right;
  font-size: 18px;
}