@import url(http://fonts.googleapis.com/css?family=Bitter:400,700,400italic);
@import url(http://fonts.googleapis.com/css?family=Droid+Sans:400,700);
@import url(http://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700);

#guide {
  color: #4D6470;/*teal*/
  color: #404D54;/*dark teal*/
  color: #d09d94;/*peach*/
  color: #E8C8C3;/*light peach*/
}

/*fundamentals*/
  body#unlearning {
    background-color: #000;
  }
  body#unlearning, 
  #unlearning h2, 
  #unlearning h3, 
  #unlearning h4, 
  #unlearning h5, 
  #unlearning h6 {
    color: #d09d94;/*peach*/
    font-family: 'Bitter', Georgia, Times New Roman, serif;
    font-weight: 400;
  }
  #unlearning h1 {
    color: #4D6470;/*teal*/
    font-family: 'PT Sans Narrow', Helvetica, Arial, sans-serif; /*'Droid Sans';*/
    font-weight: 700;
    font-size: 48px;
  }
  #unlearning li, 
  #unlearning p, 
  #unlearning a {
    color: #d09d94;/*peach*/
    font-size: 34px;
  }
  #unlearning a, 
  #unlearning a:link, 
  #unlearning a:hover, 
  #unlearning a:active, 
  #unlearning a:focus {
    color: #E8C8C3;/*light peach*/
    border-bottom: 1px solid transparent;
    text-decoration: none;
  }
  #unlearning a:hover,
  #unlearning a:active, 
  #unlearning a:focus {
    text-decoration: none;
    border-bottom: 1px solid #E8C8C3;/*light peach*/
    transition: border-color 0.3s linear;
    -webkit-transition: border-color 0.3s linear;
  }
  #unlearning li {
    color: #d09d94;/*peach*/
  }
  #unlearning code {
    color: #404D54;/*dark teal*/
    font-size: 0.8em;
  }

/*slide defaults*/
  #unlearning .hljs-monokai .hljs {
    font-size: 18px;
  }
  #unlearning div.remark-slide>.middle {
    vertical-align: top;
    padding-top: 15%;
  }
  #unlearning div.remark-slide-scaler {
    box-shadow:          0px 0px 0px black;
    -webkkit-box-shadow: 0px 0px 0px black;
  }
  #unlearning .remark-slide-content {
    background-color: #000;
  }
  #unlearning .remark-slide-number {
    display: none;
  }

/*add button*/
  #unlearning #next_slide {display: none;}
  #unlearning.admin #next_slide {
    cursor: pointer;
    background-color: #4D6470;/*teal*/
    color: #FFF;
    outline: 1px soild lime;
    font-size: 48px; font-weight: bold;
    display: block;
    height: 100px; width: 200px;
    margin: 30px;
    position: absolute;
    top: 200px; left: 200px;
    z-index: 10;
  }

/*credits*/
  #unlearning #slide-quotes p span.credit, 
  #unlearning #slide-quotes p span.credit a {
    font-size: 18px;
  }
  #unlearning .credit {
    margin-top: 0.5em;
    display: block;
    color: #404D54;/*dark teal*/
    font-size: 24px;
  }
    #unlearning .credit a {
      color: #4D6470;/*teal*/
      font-size: 24px;
    }
    #unlearning .credit a:hover {
      border-bottom-color: #4D6470;/*teal*/
    }
    #unlearning #slide-end div.citations p,
    #unlearning #slide-end div.credit p, 
    #unlearning #slide-end div.credit a {
      color: #404D54;/*dark teal*/
      font-size: 18px;
    }
      #unlearning #slide-end p .citations {
        display: block; 
        margin-top: 100px; 
        font-size: 20px;
      }

  #unlearning span.pipe {
    /*color: #4D6470;/*teal*/
    padding: 0px 15px;
  }

  #unlearning .footnote {
    color: #333;
    display: block;
    font-size: 18px;
    position: absolute;
    right: 30px;
    bottom: 30px;
    text-align: right;
  }
    #unlearning .footnote a {
      color: #333;/*dark teal*/
      font-size: 18px;
      text-decoration: underline;
    }
    #unlearning .footnote a:hover {
      color: #666;
      border-bottom-color: transparent;/*teal*/
    }

/*specific slides*/
  #unlearning #slide-title_card h1 {
    background-color: transparent;
    color: #4D6470;/*teal*/
    font-size: 72px;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-shadow:          3px 3px 5px black;
    -webkkit-text-shadow: 3px 3px 5px black;
  }
  #unlearning #slide-title_card {
    background: transparent url('galileo.jpg') top center no-repeat;
    background-size: 100% autos;
  }
  #unlearning #slide-ngram img,
  #unlearning #slide-overhead img {
    width: 100%; height: auto;
  }
  #unlearning #slide-history span.lede {
    color: #4D6470;/*teal*/
    font-size: 48px;
  }
  #unlearning #slide-poetry img {
    height: 500px;
  }
  #unlearning #slide-quotes p {
    font-size: 20px;
    padding-bottom: 10px;
  }
  #unlearning #slide-wreck-it img {
    width: 500px;
  }
  #unlearning #slide-presidents img {
    width: 500px;
  }
  #unlearning #slide-heads .ha img {
    width: 200px; 
    height: auto;
    vertical-align: top;
    display: inline-block;
  }

/*fancy lists*/
  #unlearing .bkglist {
    background-position: 50% 100%;
  }
    #slide-gfx-more.bkglist {
      background-size: cover !important;
    }
    .bkglist:before {
      content: "";
      position: absolute;
      display: block;
      background-color: #000;
      top: 0px; left: 0px;
      width: 101%; height: 100%;
      opacity: 0.66;
      z-index: 1;
    }
      .bkglist h1, .bkglist ul {
        position: relative;
        z-index: 2;
      }

